<ul class="posts">
    <table width="100%" class="table table-striped table-bordered table-hover"
           id="UserTables">
        <thead>
        <tr>
            <th>账 号</th>
            <th>昵 称</th>
            <th>操 作</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
        <tr class={{ group.gid }}>
            <td>{{ group.gid }}</td>
            <td>{{ group.username }}</td>
            <td>
                <a class="btn btn-success"
                   href="{{ url_for('group.edit', gid=group.gid) }}">编辑</a>
                <a class="btn btn-danger"
                   href="{{ url_for('group.delete', gid=group.gid) }}">删除</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</ul>