{% extends "base.html" %}

{% block title %}Cloud Media{% endblock %}
{% block page_content %}
<div class="main-content" xmlns="http://www.w3.org/1999/html">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    组编辑
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        group edit
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form name="editgroup" class="form-horizontal" role="form" action="" method="post">

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">
                                组&nbsp;ID</label>

                            <div class="col-sm-9">
                                <input name="gid" readonly="" type="text" value={{ group.gid }}
                                       class="col-xs-10 col-sm-5"
                                       id="form-input-readonly"
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 昵&nbsp;称 </label>

                            <div class="col-sm-9">
                                <input name="name" type="text" value={{ group.name }} id="form-field-1"
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit" name="submit" id="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    提&nbsp;交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    重&nbsp;置
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
{% endblock %}

{% block script %}
<script type="text/javascript">
    window.onload = function () {
        var submit = document.getElementById("submit");
        submit.onclick = function () {
            if (document.editgroup.name.value == "") {
                alert("昵称不能为空!");
                document.editgroup.name.focus();
                return false;
            }
        }
    }
</script>
{% endblock %}