{% extends "base.html" %}

{% block title %}Cloud Media{% endblock %}
{% block page_content %}
<div class="main-content" xmlns="http://www.w3.org/1999/html">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    关于我们
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        about us
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    联系我们：monitor@service.com<br><br>
                    联系电话：021-1234567890<br><br>
                    简介：<br>
                    宇宙科技有限公司，视频监控管理系统
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
{% endblock %}
